// colors
$primary: #31546D;
$primary-light: #72B1DE;
$primary-dark: #3E5969;
$secondary-light: #9EDBA0;
$secondary-dark:#31AC6A;
$grey-dark: #1d1d1d;
$grey-light-1: #f7f7f7;
$white: #fff;
$black: #111;



// grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizantal: 6rem;
